<%- include ('partials/head') %>
<body>
    <%- include ('partials/navbarHome') %>
    <div class="container">
        <h1 class="display-4"> <%= listArticle.title %> </h1>
        <p> <%- listArticle.body %> </p>
    </div>
</body>
<%- include ('partials/footer') %>